/* Documento de estilização padrão do CSS do Projeto*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 62.5%;
	font-family: "Inter", sans-serif;
	width: 100%;
	height: 100%;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.column {
	display: flex;
	flex-direction: column;
}

:root {
	/* ============= CORES ============= */

	/* Cinza */
	--color-bg-main-primary: #f7f8f8;
	--color-neutral-100: #e8f1f0;
	--color-neutral-300: #afc5c3;
	--color-neutral-500: #6c7b83;
	--color-description-primary: #6a7981;
	--color-title-primary: #172126;
	--color-box-shadow: rgba(0, 0, 0, 0.08);
	/* Verde*/
	--secondary-bg-color: #ffffff;
	--color-teal-100: #f1f4f3;
	--color-teal-200: #eef1f0;
	--color-teal-600: #26736b;
	--color-bg-icons: #1b746b;
	--primary-bg-color: #155b54;
	/* Amarela */
	--color-orange-100: #fdf5e6;
	--color-orange-500: #f59f0a;
	/* Vermelha */
	--color-red-200: #f1aaac;
	--color-red-500: #f50d13;
	/* Azul */
	--color-blue-200: #aab7f1;
	--color-blue-500: #1741fe;

	/* ============= ESTILO DE TÍTULO E TEXTO ============= */

	--font-primary: "Inter", sans-serif;
	--font-secondary: "Nunito Sans", sans-serif;

	--font-weight-bold: 700;
	--font-weight-semibold: 600;
	--font-weight-medium: 500;
	--font-weight-regular: 400;
	--font-weight-thin: 300;

	--font-title-section: 3.2rem;
	--font-identify: 2.2rem;
	--font-subtitle-section: 1.6rem;
	--font-btn: 1.6rem;
	--font-title-cards-link: 1.6rem;
	--font-tags: 1.4rem;
	--font-description: 1.4rem;

	--letter-spacing-tight: -0.05em;

	--border-radius: 0.8rem;

	--padding-sidebar: 3.5rem 2rem;

	--padding-navbar: 2.8rem 5.4rem;

	--padding-content-main: 4.5rem 2.5rem;

	--width-box-link-sidebar: 22rem;
	--width-btn: 33rem;
	--width-cards: 36.5rem;
	--width-sidebar: 26rem;
}
