/* Documento de estilização padrão do CSS do Projeto*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
}

:root {
  /* ============= COLORS ============= */

  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Nunito Sans", sans-serif;

  --color-link-sidebar: #afc5c3;
  --color-background-main: #f7f8f8;
  --color-description: #6a7981;
  --color-title: #172126;
  --color-box-shadow: rgba(0, 0, 0, 0.08);
  --color-background-white: #ffffff;
  --color-background-navbar: #155b54;
  --color-background-navbar: #155b54;

  --details: #afc5c3;
  --border-color-1: #dce2e5;
  --background-color-1: #e8f1f0;
  --color-background-icons-green-2: #e8f1f0;
  --color-icons-green-1: #1b746b;
  --color-icons-orange-1: #fdf5e6;
  --color-icons-orange-2: #f59f0a;
  --color-icons-red-1: #f1aaac;
  --color-icons-red-2: #f50d13;
  --color-icons-blue-1: #aab7f1;
  --color-icons-blue-2: #1741fe;
  --color-background-icons-green-1: #1b746b1a;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-12px: 1.2rem;
  --font-size-14px: 1.4rem;
  --font-size-16px: 1.6rem;
  --font-size-18px: 1.8rem;
  --font-size-20px: 2rem;
  --font-size-22px: 2.2rem;
  --font-size-24px: 2.4rem;
  --font-size-26px: 2.6rem;
  --font-size-28px: 2.8rem;
  --font-size-30px: 3rem;
  --font-size-32px: 3.2rem;

  --letter-spacing-tight: -0.05em;

  --border-radius: 0.8rem;

  --padding-sidebar: 3.5rem 2rem;
  --padding-navbar: 2.8rem 5.4rem;
  --padding-main-content: 4.5rem 2.5rem;

  --width-sidebar: 26rem;
  --width-sidebar-link: 22rem;
  --width-button: 33rem;
  --width-card: 36.5rem;
}
