@import url(../config/global-config.css);


.dashboard {
  padding: var(--padding-top_bottom-content-main)
    var(--padding-left_rigth-content-main);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.dashboard-header h1 {
  font-size: var(--font-title-section);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-900);
}

.dashboard-header p {
  font-size: var(--font-description);
  color: var(--color-neutral-500);
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 2rem;
}


.card {
  background: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  padding: 2rem;
  box-shadow: 0 4px 10px var(--color-box-shadow);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.card-title {
  font-size: var(--font-tags);
  color: var(--color-neutral-500);
}

.card-value {
  font-size: var(--font-identify);
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-900);
}


.card-highlight {
  background: var(--color-teal-600);
}

.card-highlight .card-title,
.card-highlight .card-value {
  color: var(--secondary-bg-color);
}