@import url(../config/global-config.css);

main .container:first-child #sidebar {
  width: var(--width-sidebar);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--primary-bg-color);
  padding: var(--padding-sidebar);
  height: 100dvh;
}

main .container:first-child #sidebar .header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
}

main .container:first-child #sidebar .header-logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-teal-600);
  border-radius: var(--border-radius);
  padding: 1rem;
}

main .container:first-child #sidebar .header-logo .logo svg {
  object-fit: contain;
  width: 5rem;
  height: 5rem;
  position: relative;
  left: 5%;
}

main .container:first-child #sidebar .header-logo .name-project {
}

main .container:first-child #sidebar .header-logo .name-project h4 {
  font-size: var(--font-identify);
  color: var(--secondary-bg-color);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-secondary);
  letter-spacing: var(--letter-spacing-tight);
  margin-bottom: -0.5rem;
}

main .container:first-child #sidebar .header-logo .name-project h6 {
  font-size: var(--font-tags);
  color: var(--secondary-bg-color);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-secondary);
  letter-spacing: var(--letter-spacing-tight);
}

main .container:first-child #sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main .container:first-child #sidebar nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
main .container:first-child #sidebar nav ul li {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
main .container:first-child #sidebar nav ul li a {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  font-size: var(--font-tags);
  color: var(--secondary-bg-color);
  font-weight: var(--font-weight-thin);
}
main .container:first-child #sidebar nav ul li a svg {
  width: 2.4rem;
  height: 2.4rem;
}
main .container:first-child #sidebar nav .logout {
}
main .container:first-child #sidebar nav .logout a {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  font-size: var(--font-tags);
  color: var(--secondary-bg-color);
  font-weight: var(--font-weight-thin);
}
main .container:first-child #sidebar nav .logout a svg {
}
