@import url(../config/global-config.css);

main {
  display: flex;
  width: 100dvw;
  height: 100dvh;
}
main .container {
}
main .container:first-child {
  width: max-content;
  height: 100%;
}
main .container:last-child {
  display: flex;
  flex-direction: column;
  width: stretch;
  height: 100%;
}

main .container:last-child .container-certificados {
  width: 100%;
  height: 100%;
  padding: var(--padding-content-main);
}

main .container:last-child .container-certificados .header-certificados {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main
  .container:last-child
  .container-certificados
  .header-certificados
  .header-title {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

main
  .container:last-child
  .container-certificados
  .header-certificados
  .header-title
  h2 {
  font-size: var(--font-title-section);
}

main
  .container:last-child
  .container-certificados
  .header-certificados
  .header-title
  p {
  font-size: var(--font-subtitle-section);
  letter-spacing: -3%;
}

main .container:last-child .container-certificados .header-certificados button {
  color: var(--secondary-bg-color);
  background-color: var(--primary-bg-color);
  border: none;
  max-width: 25rem;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}

main
  .container:last-child
  .container-certificados
  .header-certificados
  button
  span {
  font-size: var(--font-btn);
}

main
  .container:last-child
  .container-certificados
  .header-certificados
  button
  svg {
  width: 2.5rem;
  height: 2.5rem;
}
