@import url(../config/global-config.css);

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

main .container {
  display: flex;
  flex-direction: column;
  margin-left: 26rem;
  width: 100%;
  height: 100%;
}
