@import url(../config/global-config.css);

main {
  display: flex;
  width: 100dvw;
  height: 100dvh;
}
main .container {
}
main .container:first-child {
  width: max-content;
  height: 100%;
}
main .container:last-child {
  display: flex;
  flex-direction: column;
  width: stretch;
  height: 100%;
}

main .container:last-child .container-main {
  width: 100%;
  height: 100%;
}
