@import url(../config/global-config.css);

.container-notificacoes {
	display: flex;
	flex-direction: column;
	row-gap: 2.4rem;
	padding: 3.2rem;
	width: 100%;
}
.notificacoes-header h1 {
	font-size: var(--font-size-24px);
	color: var(--color-title);
	font-weight: var(--font-weight-bold);
	margin-bottom: 0.4rem;
}
.notificacoes-header p {
	font-size: var(--font-size-16px);
	color: var(--color-description);
}
.notificacoes-list {
}
.notificacoes-list ul {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 1.2rem;
	width: 100%;
}
.notificacoes-list ul li {
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 1.6rem;
	width: 100%;
	border-radius: 1.2rem;
	border: 1px solid var(--border-color-1);
	background-color: var(--color-background-white);
}
.notificacoes-list ul li {
}
.notificacoes-list ul li .row {
	display: flex;
	justify-content: space-between;
	column-gap: 1.6rem;
}
.notificacoes-list ul li .row .notificacoes-list-icon {
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
}
.notificacoes-list ul li .row .notificacoes-list-icon svg {
	width: 2rem;
	height: 2rem;
}
.notificacoes-list ul li .row .column {
	justify-content: center;
	row-gap: 0.4rem;
}
.notificacoes-list ul li .row .column h4 {
	font-size: var(--font-size-14px);
	color: var(--color-title);
	font-weight: var(--font-weight-medium);
}
.notificacoes-list ul li .row .column p {
	font-size: var(--font-size-12px);
	color: var(--color-description);
}

.notificacoes-data {
	font-size: var(--font-size-12px);
	color: var(--color-description);
}

.info {
	background-color: var(--color-icons-green-3);
	svg {
		stroke: var(--color-icons-green-1);
	}
}
.sucess {
	background-color: var(--color-icons-green-4);
	svg {
		stroke: var(--color-icons-green-2);
	}
}
.alert {
	background-color: var(--color-icons-red-1);
	svg {
		stroke: var(--color-icons-red-2);
	}
}
