<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/components/modal-excluir.css" />
  </head>
  <body>
    <div class="modal">
      <div class="modal-content">
        <h2 class="modal-titulo" id="modal-titulo">Excluir evento?</h2>
        <p class="modal-descricao">
          Esta ação não pode ser desfeita. O evento "<strong
            id="modal-nome-evento"
            >Seminário de Inteligência Artificial</strong
          >" será removido permanentemente.
        </p>
      </div>
      <div class="modal-actions">
        <button
          class="btn-modal-cancelar"
          id="btn-cancelar-exclusao"
          type="button"
        >
          Cancelar
        </button>
        <button
          class="btn-modal-excluir"
          id="btn-confirmar-exclusao"
          type="button"
        >
          Excluir
        </button>
      </div>
    </div>
  </body>
</html>
